<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOULFIT</title>
    <link
      rel="shortcut icon"
      href="{% static 'assets/logo fit.png' %}"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
  </head>

  <body>
    <div id="nav">
      <img
        src="{% static 'assets/logo fit.png' %}"
        alt=""
      />
      <h4>HOME</h4>
      <h4>PROGRAM</h4>
      <h4>ABOUT US</h4>
      <h4>PRODUCT</h4>
      <h4>chat</h4>
    </div>
    <div id="cursor"></div>
    <div id="cursor-blur"></div>

    <video
      autoplay
      loop
      muted
      src="{% static 'assets/mixkit-an-athlete-training-on-a-stationary-bike-50968.mp4' %}"
    ></video>
    <!-- Rest of your HTML content remains unchanged -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'script.js' %}" defer></script>
  </body>
</html>
